th{
  color: #337AB7;
}
.table thead th{
  border-bottom: 2px solid #2e72b7 !important;
}
.table td{
  vertical-align: middle !important;
}
tbody{
  color: #0d0d0d;
}
input[type=text] {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
  width: 50%;
}
table {
  width: 100%;
}
mat-paginator {
  width:auto !important;
}
